/* Estilos para el encabezado */
nav {
    background-color: rgba(232, 207, 178, 0.651);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 0;
    width: 100%;
    z-index: 1000;
    font-size: larger;
}
.navbar-brand {
    width:250px ;
}
.navbar-nav .nav-link {
    color: rgb(0, 0, 0); 
    font-weight: bold;
}
.nav-link:hover{
    color:rgb(245, 149, 146);
}
.navbar-toggler:focus {
    box-shadow: none;
}
.dropdown-menu.show {
    display: flex;
    justify-content: center;
}

.text-look{
    color: #d34f4aff !important;
}
.text-look:active{
    color: #2d5588ff !important;
}
#contDispositivos{
    width: 600px;
    display: flex;
    justify-content: center;
}
@media (min-width: 992px) {
    .navbar.sticky-lg-top {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1020;
    }
  }

@media(max-width: 991px){
    .navbar-nav .nav-link {
        font-size: 20px;
    }
}
@media (max-width: 650px) {
    #contDispositivos{
        width: 500px;
        
    }
}
@media (max-width: 550px) {
    #contDispositivos{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

}
#colors{
    --white: #fefefeff;
    --vanilla: #ddca8fff;
    --chamoisee: #9f815fff;
    --yinmn-blue: #2d5588ff;
    --jasper: #d34f4aff;
  }